NEXT_PUBLIC_SUPABASE_URL=https://lwnfcbjfvupeumpfmwut.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Lk6Q5R3rQNjrL1XJof8XbQ_oIp-ijLs
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
